.invp-cf:before,
.invp-cf:after {
    content: " ";
    display: table;
}

.invp-cf:after {
    clear: both;
}

.invp-cf {
    *zoom: 1;
}

.invp-left {
	float: left;
}

.invp-right {
	float: right;
}

/* pager */
.invp-pages {
	text-align: center;
	margin: 10px 5px;
}

a.invp-page {
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
	background-color: #F7F7F7;
	border-radius: 4px;
	margin-bottom: 10px;
}

a.invp-page-active, a.invp-page:hover {
	background-color: #041590;
	color: #fff;
}

a.invp-page + a.invp-page {
	margin-left: 2px;
}

/* single items */

.invp-single-wrapper .invp-single-subhead {
	background-color: #666;
	line-height: 40px;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
	padding: 0 20px;
}

.invp-single-wrapper ul.vehicle-features {
	margin-left: 15px;
  -webkit-columns: 2 260px;
     -moz-columns: 2 260px;
          columns: 2 260px;
}

/*  post : vehicle loop
/* ------------------------------------ */
.invp-simple-item-wrap {
	width: 50%;
	float: left;
}

.invp-simple-item {
	clear: both;
	background-color: #F7F7F7;
	margin: 0 20px 20px 0;
    -webkit-box-shadow: 4px 3px 5px -4px rgba(0,0,0,0.4);
	-moz-box-shadow: 4px 3px 5px -4px rgba(0,0,0,0.4);
	box-shadow: 4px 3px 5px -4px rgba(0,0,0,0.4);
}

.invp-inner {
	margin: 30px;
}

.invp-simple-item .post-inner { padding-left: 0; }


.invp-simple-item .post-thumbnail {
	margin: 0;
	width: 100%;
	border: 1px solid #041590;
}

.invp-simple-item  .post-content {
	width: 100%;
}

.invp-simple-item ul {
	margin: 10px 0 15px 0;
}

.invp-simple-item li {
	list-style: none;
}

.vehicle-content-strong {
	font-weight: bold;
}

.vehicle-content-initcaps {
    text-transform: capitalize;
}

.vehicle-content-allcaps {
	text-transform: uppercase;
}

.invp-simple-item .post-title {
    color: #000;
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 800;
    line-height: 1.5em;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.invp-simple-item .post-title a {
    color: #000;
}

.invp-simple-item .vehicle-details {
	color: #FFF;
	background-color: #041590;
	padding: 8px 20px;
	text-align: center;
	font-weight: bold;
	-webkit-box-shadow: 4px 3px 5px -4px rgba(0,0,0,0.4);
	-moz-box-shadow: 4px 3px 5px -4px rgba(0,0,0,0.4);
	box-shadow: 4px 3px 5px -4px rgba(0,0,0,0.4);
	display: block;
}

@media only screen and (max-width: 719px) {

	.invp-simple-item-wrap {
		width: auto;
		float: none;
	}
	
}

/*  flexslider : resets
/* ------------------------------------ */
.invp-single-wrapper .flex-container a:active,
.invp-single-wrapper .flexslider a:active,
.invp-single-wrapper .flex-container a:focus,
.invp-single-wrapper .flexslider a:focus  { outline: none; }
.invp-single-wrapper .slides,
.invp-single-wrapper .flex-control-nav,
.invp-single-wrapper .flex-direction-nav { margin: 0; padding: 0; list-style: none; } 

/*  flexslider : necessary styles
/* ------------------------------------ */
.invp-single-wrapper .flexslider { margin: 0; padding: 0; }
.invp-single-wrapper .flexslider .slides > li { display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.invp-single-wrapper .flexslider .slides img { width: 100%; height: auto; display: block; margin: 0 auto; }
.invp-single-wrapper .flex-pauseplay span { text-transform: capitalize; }
.invp-single-wrapper .slides:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } 
html { -webkit-font-smoothing: antialiased; /* safari font rendering issue fix */ }
html[xmlns] .slides { display: block; } 
* html .slides { height: 1%;}
.invp-single-wrapper .no-js .slides > li:first-child { display: block; }

/*  flexslider : default theme
/* ------------------------------------ */
.invp-single-wrapper .flexslider { margin: 20px 0; position: relative; zoom: 1; }
.invp-single-wrapper .flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }
.invp-single-wrapper .loading .flex-viewport { max-height: 300px; }
.invp-single-wrapper .flexslider ul {
	margin: 0;
}
.invp-single-wrapper .flexslider .slides { zoom: 1; z-index: 2; }
.invp-single-wrapper .flexslider .slides > li { position: relative; }
.invp-single-wrapper .carousel li { margin-right: 5px; }
.invp-single-wrapper .flexslider img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* direction nav */
.invp-single-wrapper .flex-direction-nav { *height: 0; position: absolute; top: 10px; right: 10px; z-index: 2; }
.invp-single-wrapper .flex-direction-nav li { float: left; margin-left: 4px; list-style: none !important; }
.invp-single-wrapper .flex-direction-nav li:first-child { float: left; }
.invp-single-wrapper .flex-direction-nav li:last-child { float: right; }
.invp-single-wrapper .flex-direction-nav a { background: rgba(0,0,0,0.7); position: relative; width: 40px; height: 40px; margin: 0 0 0; display: block; cursor: pointer; text-indent: -999px; overflow: hidden; 
-webkit-transition: all .3s ease; transition: all .3s ease;
-webkit-border-radius: 3px; border-radius: 3px; }
.invp-single-wrapper .invp-single-wrapper .flex-direction-nav a:hover {
	color: #FFF;
}
.invp-single-wrapper .flexslider:hover .flex-next,
.invp-single-wrapper .flexslider:hover .flex-prev { opacity: 0.8; }
.invp-single-wrapper .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.invp-single-wrapper .flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default; }

/* direction nav arrows */
.invp-single-wrapper .flex-direction-nav a:before { font-family: FontAwesome; font-size: 20px; line-height: 24px; position: absolute; text-align: center; left: 0; right: 0; top: 9px; text-indent: 0; }
.invp-single-wrapper .flex-direction-nav .flex-next:before { content:"\f054"; }
.invp-single-wrapper .flex-direction-nav .flex-prev:before { content: "\f053"; }

/* control nav */
.invp-single-wrapper .flex-control-nav { width: 100%; position: absolute; bottom: -30px; text-align: center; }
.invp-single-wrapper .flex-control-nav li { margin: 0 3px; display: inline-block; zoom: 1; *display: inline; }
.invp-single-wrapper .flex-control-nav li a { background: rgba(0,0,0,0.15); width: 10px; height: 10px; display: block; cursor: pointer; text-indent: -999px; overflow: hidden;
-webkit-border-radius: 100%; border-radius: 100%; }
.invp-single-wrapper .flex-control-nav li a:hover { background: rgba(0,0,0,0.15); }
.invp-single-wrapper .flex-control-nav li a.flex-active { background: rgba(0,0,0,0.25); cursor: default; }

.invp-single-wrapper .flex-control-thumbs { margin: 5px 0 0; position: static; overflow: hidden; }
.invp-single-wrapper .flex-control-thumbs li { width: 25%; float: left; margin: 0; }
.invp-single-wrapper .flex-control-thumbs img { width: 100%; display: block; opacity: .7; cursor: pointer; }
.invp-single-wrapper .flex-control-thumbs img:hover { opacity: 1; }
.invp-single-wrapper .flex-control-thumbs .flex-active { opacity: 1; cursor: default; }

.invp-single-wrapper .flex-caption {
	background-color: #d9d9d9;
	padding: 5px 10px;
}

@media screen and (max-width: 860px) {
  .invp-single-wrapper .flex-direction-nav .flex-prev { opacity: .7; right: 0; }
  .invp-single-wrapper .flex-direction-nav .flex-next { opacity: .7; right: 0; }
}