/* Location taxonomy page */
.repeat-group {
	max-width: 700px;
}
.repeat-group input[type=text] {
	width: 100% !important;
}
.repeat-form {
	margin-right: 36px;
}

.repeat-buttons {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0 3px 3px;
}

.repeat-buttons span {
	display: block;
	padding: 3px 5px 2px;
	border: 1px solid #CCC;
	margin-top: 1px;
	margin-bottom: 2px;
	background-color: #FFF;
}

.repeat-buttons .repeat-move {
	cursor: ns-resize;
}

.repeat-buttons .repeat-delete {
	cursor: pointer;
}

.repeat-buttons .repeat-delete:hover {
	color: #CC0000;
}
.wp-core-ui button.repeat-add{
	margin-bottom: .5em;
}
.repeat-this {
	display: none;
	position: relative;
}
.repeat-container > div {
	padding: 0 4px 10px 0;
	min-height: 60px;
	position: relative;
}
.repeater-table {
	width: 100%;
}

.repeater-table td {
	margin-bottom: 0;
	padding: 5px 3px;
	line-height: 1.3;
	vertical-align: middle;
}

table.hours th{
	white-space: nowrap;
}
table.hours th.to-col{
	width: 1em;
}
