/* Vehicles → Options */
table.invp-settings{
	margin-top: 1em;
	margin-bottom: .75em;
}
table.invp-settings th {
	font-weight: normal;
	padding: 8px 10px;
}
table.invp-settings td{
	white-space: nowrap;
}
#additional_listings_pages_settings table.invp-settings td:nth-child(3){
	width: 99%;
}
#additional_listings_pages_settings table td span.item{
	display: block;
	line-height: 36px;
}
#additional_listings_pages_settings table td input.value{
	position: relative;
	top: 2px;
}
#additional_listings_pages_settings table td label{
	display: inline-block;
	width: 3em
}
#additional_listings_pages_settings table td.active,
#additional_listings_pages_settings table td.actions{
	vertical-align: top;
}
table.invp-settings .dashicons{
	padding-top: .18em;
}
.wp-core-ui table.invp-settings a.action{
	margin-right: .5em;
}
table.invp-settings td.active{
	text-align: center;
}
input.invp-settings_slug{
	width: 50%;
	min-width: 200px;
}
/* Replicates the .notice and .notice-error CSS classes from WordPress */
.invp-notice{
	margin: 5px 0 15px;
	background: #fff;
	border: 1px solid #c3c4c7;
	border-left-width: 1px;
	border-left-color: rgb(195, 196, 199);
	border-left-width: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	padding: 1px 12px;
}
.invp-notice-error{
	border-left-color: #d63638;
}
.form-table td .invp-notice p {
	font-size: 13px;
	line-height: 1.5;
	margin: 0.5em 0;
	padding: 2px;
}