/* slider widget */
.widget-inventory-slide-wrap {
	border-right: 1px solid #000;
}

.slick-background-image {
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
	position: relative;
	width: 100%;
}

.slick-background-image:before{
	content: "";
	display: block;
	padding-top: 75%;
}

.slick-background-image .slick-text {
	position: absolute;
	left: 10px;
	right: 10px;
	text-align: center;
}

.slick-background-image .slick-text h2,
.slick-background-image .slick-text h3 {
	color: #FFFFFF;
	text-shadow:
    -1px -1px 3px #000,
    1px -1px 3px #000,
    -1px 1px 3px #000,
    1px 1px 3px #000;
}

.slick-background-image .slick-text-top {
	top: 10px;
}

.slick-background-image .slick-text-bottom {
	bottom: 10px;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 30px;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 5;
    opacity: 0.6;
    border-width: 1px;
    border-style: solid;
}

.slick-prev:hover,
.slick-next:hover
{
    opacity: 1;
}
.slick-prev.slick-disabled,
.slick-next.slick-disabled
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-size: 25px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 0;
}
.slick-prev:before
{
    content: '\f053';
}
.slick-next
{
    right: 0;
}
.slick-next:before
{
    content: '\f054';
}