/**
 * Grid widget
 */
.grid-slides{
	display: grid;
	column-gap: .8em;
	row-gap: .8em;
	padding: 0;
	margin: 0;
}
.grid-image{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.grid-image:before{
	content: "";
	display: block;
	padding-top: 75%;
}

.invp-grid {
	padding-bottom: 20px;
}
.invp-grid-button button{
	width: 100%;
}
.grid-caption {
	text-align: center;
	margin-top: .8em;
	margin-bottom: 0;
	padding: 0;
}
.grid-slides li {
	list-style-type: none;
}
.grid-slides li a:active {
	outline: none;
}
.grid-odometer,
.grid-price{
	margin-left: .3em;
}

.invp-grid ul.columns-2{
	grid-template-columns: 1fr 1fr;
}
.invp-grid ul.columns-3{
	grid-template-columns: 1fr 1fr 1fr;
}
.invp-grid ul.columns-4{
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.invp-grid ul.columns-5{
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.invp-grid ul.columns-6{
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 480px){
	.invp-grid ul.columns-3,
	.invp-grid ul.columns-4,
	.invp-grid ul.columns-5,
	.invp-grid ul.columns-6{
		grid-template-columns: 1fr 1fr;
	}
}
