.widget__invp_slick .flex-caption{
	position: absolute;
	text-align: center;
	width: 100%;
}

.widget__invp_slick .flex-caption h2,
.widget__invp_slick .flex-caption h3 {
	color: #FFFFFF;
	text-shadow:
		-1px -1px 3px #000,
		1px -1px 3px #000,
		-1px 1px 3px #000,
		1px 1px 3px #000;
}

.widget__invp_slick .flex-caption-top {
	top: 18px;
	padding-top: 1em;
}

.widget__invp_slick .flex-caption-bottom {
	bottom: 10px;
	padding-bottom: 1em;
}

#widget_slider .flex-direction-nav a{
	top: 0;
	bottom: 0;
	opacity: .6;
	height: 100%;
	width: 30px;
	transition: none;
	color: #fff;
	margin: 0;
}
#widget_slider .flex-direction-nav a:hover{
	opacity: 1;
}

#widget_slider .flex-direction-nav a:before{
	color: #fff;
	text-shadow: -1px 0 #666, 0 1px #666, 1px 0 #666, 0 -1px #666;
	font-size: 25px;
}
#widget_slider .flexslider:hover .flex-direction-nav .flex-prev,
#widget_slider .flexslider:hover .flex-direction-nav .flex-next{
	opacity: 1;
}
#widget_slider ul.flex-direction-nav li{
	line-height: 1;
}
#widget_slider ul.flex-direction-nav li::marker{
	content: none;
}
#widget_slider .flex-direction-nav a:focus{
	outline: none;
}
#widget_slider .flex-direction-nav .flex-next,
#widget_slider .flexslider:hover .flex-direction-nav .flex-next{
	right: 0;
	padding-right: .5em;
}
#widget_slider .flex-direction-nav .flex-prev,
#widget_slider .flexslider:hover .flex-direction-nav .flex-prev{
	left: 0;
	padding-left: .5em;
}