.wp-media-buttons .annotation{
	line-height: 230%;
}
.lighter h3,
.lighter table.form-table tbody tr th,
.lighter table.form-table tbody tr td fieldset,
.lighter table.form-table tbody tr td p.description,
table.form-table tr.lighter th,
table.form-table tr.lighter td p.description,
table.form-table tr.lighter td label{
	color: #c4c4c4;
}
.update-nag.no-pad{ padding: 1px 12px; }
.list-with-columns {
	padding: .5em;
	column-width: 225px;
	-moz-column-width: 225px;
	-webkit-column-width: 225px;
	-moz-column-count: auto;
	-webkit-column-count: auto;
	column-count: auto;
}
ul.optional-equipment{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
ul.optional-equipment li{
	max-width: 250px;
}
button#delete-media-button span:before {
    font: 400 18px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f182";
}

.repeat-group {
	max-width: 700px;
}

.repeat-group input[type=text] {
	width: 100% !important;
}

.repeated + .repeated {
	border-top: 1px solid #CCC;
}

.repeat-form {
	margin-right: 36px;
}

.repeat-buttons {
	position: absolute;
	right: 0;
	top: 7px;
	margin: 3px;
}

.repeat-buttons span {
	display: block;
	padding: 3px 5px;
	border: 1px solid #CCC;
	margin-top: 1px;
	margin-bottom: 2px;
	background-color: #FFF;
}

.repeat-buttons .repeat-move {
	cursor: ns-resize;
}

.repeat-buttons .repeat-delete {
	cursor: pointer;
}

.repeat-buttons .repeat-delete:hover {
	color: #CC0000;
}

.repeat-this {
	display: none;
	position: relative;
}

.repeat-container {
	border: 1px solid #DDDDDD;
	margin-bottom: 10px;
}

.repeat-container > div {
	padding: 10px 4px;
	min-height: 60px;
	position: relative;
}

.repeat-container > div:nth-child(odd){
	background: #DBDBDB;
}

.repeat-container > div:nth-child(even){
	background: #E3E3E3;
}

.repeater-table {
	width: 100%;
}

.repeater-table td {
	margin-bottom: 0;
	padding: 5px 3px;
	line-height: 1.3;
	vertical-align: middle;
}

/* time picker */
.ui-timepicker-wrapper {overflow-y: auto; height: 150px; width: 100px; background: #fff; border: 1px solid #ddd; -webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2); -moz-box-shadow:0 5px 10px rgba(0,0,0,0.2); box-shadow:0 5px 10px rgba(0,0,0,0.2); outline: none; z-index: 10001; margin: 0; }
.ui-timepicker-wrapper.ui-timepicker-with-duration {width: 13em; }

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {width: 11em; }

.ui-timepicker-list {margin: 0; padding: 0; list-style: none; }

.ui-timepicker-duration {margin-left: 5px; color: #888; }

.ui-timepicker-list:hover .ui-timepicker-duration {color: #888; }

.ui-timepicker-list li {padding: 3px 0 3px 5px; cursor: pointer; white-space: nowrap; color: #000; list-style: none; margin: 0; }

.ui-timepicker-list:hover .ui-timepicker-selected {background: #fff; color: #000; }

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {background: #1980EC; color: #fff; }

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {color: #ccc; }

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {color: #888; cursor: default; }

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {background: #f2f2f2; }