.wp-media-buttons .annotation{
	line-height: 230%;
}
.lighter h3,
.lighter table.form-table tbody tr th,
.lighter table.form-table tbody tr td fieldset,
.lighter table.form-table tbody tr td p.description,
table.form-table tr.lighter th,
table.form-table tr.lighter td p.description,
table.form-table tr.lighter td label{
	color: #c4c4c4;
}
.update-nag.no-pad{ padding: 1px 12px; }
.list-with-columns {
	padding: .5em;
	column-width: 225px;
	-moz-column-width: 225px;
	-webkit-column-width: 225px;
	-moz-column-count: auto;
	-webkit-column-count: auto;
	column-count: auto;
}
ul.optional-equipment{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
ul.optional-equipment li{
	max-width: 250px;
}
#inventory_presser_body_style_hidden{
	display: none;
}
button#delete-media-button span:before {
    font: 400 18px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f182";
}

.repeat-group {
	max-width: 700px;
}

.repeat-group input[type=text] {
	width: 100% !important;
}

.repeated + .repeated {
	border-top: 1px solid #CCC;
}

.repeat-form {
	margin-right: 36px;
}

.repeat-buttons {
	position: absolute;
	right: 0;
	top: 7px;
	margin: 3px;
}

.repeat-buttons span {
	display: block;
	padding: 3px 5px;
	border: 1px solid #CCC;
	margin-top: 1px;
	margin-bottom: 2px;
	background-color: #FFF;
}

.repeat-buttons .repeat-move {
	cursor: ns-resize;
}

.repeat-buttons .repeat-delete {
	cursor: pointer;
}

.repeat-buttons .repeat-delete:hover {
	color: #CC0000;
}

.repeat-this {
	display: none;
	position: relative;
}

.repeat-container {
	border: 1px solid #DDDDDD;
	margin-bottom: 10px;
}

.repeat-container > div {
	padding: 10px 4px;
	min-height: 60px;
	position: relative;
}

.repeat-container > div:nth-child(odd){
	background: #DBDBDB;
}

.repeat-container > div:nth-child(even){
	background: #E3E3E3;
}

.repeater-table {
	width: 100%;
}

.repeater-table td {
	margin-bottom: 0;
	padding: 5px 3px;
	line-height: 1.3;
	vertical-align: middle;
}

/* Columns on edit.php */
th.column-inventory_presser_photo_count{
	width: 95px;
}
th.column-inventory_presser_thumbnail{
	width: 110px;
}
/* Thumbnail column */
.wp-list-table.posts tr.type-inventory_vehicle td.inventory_presser_thumbnail{
	text-align: center;
}
.wp-list-table.posts tr.type-inventory_vehicle td.inventory_presser_thumbnail img.attachment-thumbnail{
	max-height: 60px;
	max-width: 80px;
	border: 1px solid #e1e1e1;
}