<div class="invp-simple-item-wrap">

	<div class="invp-simple-item invp-cf">

		<div class="invp-inner">

			<h2>
				<a href="{{url}}" title="{{title}}">{{title}}</a>
			</h2>

			<div class="post-inner">
				
				<div class="post-thumbnail">
					<a href="{{url}}" title="{{title}}">
						<img src="{{image_url}}" alt="{{title}}">
					</a>
				</div>
				
				<div class="post-content vehicle-content">
					<ul>
						<li><h3>{{price}}</h3></li>
						<li>{{miles}}</li>
						<li>{{color}}</li>
						<li>{{engine}}</li>
					</ul>
					<a class="vehicle-details" href="{{url}}" title="{{title}}">View Details</a>
				</div><!--/.post-content-->
				
			</div><!--/.post-inner-->

		</div>

	</div>

</div>